:root {
    --bg-main: #1F1F1F;
    --text-main: #FFEBD6; 
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.table,
.table th,
.table td {
    background-color: #1F1F1F !important;
    color: #FFEBD6 !important;
    border-color: #3D3D3D !important; 
}

.table-hover tbody tr:hover {
    background-color: #2A2A2A !important;
    color: #FFEBD6 !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#menuButton {
    font-size: 0.7em;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    color: #FFEBD6
}

#menuButton .btn-outline-primary {
    border: 2px solid #8C93A8;
    background-color: #3D3D3D;
}

#menuButton .btn-outline-primary:hover {
    background-color: #8C93A8;
    color: #3D3D3D !important;
    border-color: #FFEBD6;
}

#orderScreen {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#menuScreen {
    text-align: center; 
    margin-top: 40px; 
    margin-bottom: 40px; 
}

#loginScreen {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}